body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
.section{
    display: flex;
    justify-content: center;
}
.container{
    text-align: center;
    border: 2px solid ;
    padding: 20px;
    background-color: rgb(245, 207, 156);
    margin-top: 10%;
}
.con1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
.con1 p{
    margin: 0;
    color: rgb(1, 89, 1);
}
.con2{
    margin-top: 10px;
    margin-bottom: 20px;
}
button{
    padding: 6px 9px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    background-color: rgb(243, 100, 100);
}